## [출석인정용과제]

IMDB-Movie-Data.csv를 dataframe으로 읽어들여 전체 data의 몇 %가  missing data인지 소숫점 이하 둘째자리까지만 출력하는 프로그램을 작성하시오. 파일을 읽어들일때 "Title"을 index column으로 하시오.

In [1]:
import pandas as pd
import numpy as np
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")
row = movies_df.shape[0]
col = movies_df.shape[1]
x = sum(movies_df.isnull().sum())
y = x / (row * col)
print("Percentage of Missing Data =", round(y, 2), "%")

Percentage of Missing Data = 0.02 %

## [학점취득용과제1, 2, 3]

### data cleaning & exploration 1.ipynb 파일 강의시 언급한 homework 문제를 다음의 순서대로 프로그램하시오. 아래 7개의 단계가 문제 3개로 나뉘어 있음.

1. IMDB-Movie-Data.csv 파일을 다시 읽어들이시오.
1. revenue column의 missing data 갯수를 출력하시오
1. revenue column의 mean값을 구해 revenue_mean 에 넣고 출력하시오
1. revenue column을 genre별로 grouping하고 genre별 mean값을 구해 genre_mean에 넣고 출력하시오. genre이름과 mean값만 출력되어야 함.
1. revenue column의 missing data를 genre별 평균값으로 impute 하시오.
1. genre에 따라서 1개의 행만 있고 그 행의 revenue 값이 NaN인 genre가 여러 개 있습니다.이런 genre의 revenue 평균값은 그대로 NaN이 되고 impute 해봐야 NaN 자리에 NaN이 들어가게 되어 그대로 NaN으로 남습니다.  revenue column에서 impute 후에도 아직도 NaN인 data의 갯수를 출력하시오.
1. 6단계후에 남은 NaN 모두를 3단계에서 구한 revenue_mean으로 채우고 revenue column에서 NaN인 data의 갯수를 출력하시오. 0개가 출력되어 더 이상 NaN이 없는 것으로 나와야 맞습니다.

### 프로그램 실행시 warning이 나올 수 있는데 프로그램 시작시 아래 코드를 넣어 warning이 출력되지 않도록 하시오

import warnings <br>
warnings.filterwarnings('ignore')

### dataframe의 cell이 NaN(Not a Number)인지 아닌지를 테스트하려면np.isnan() 함수를 사용하시오.

## [학점취득용과제1]
### 아래 단계가 실행되도록 코딩하시오
1. IMDB-Movie-Data.csv 파일을 다시 읽어들이시오.
1. revenue column의 missing data 갯수를 출력하시오
1. revenue column의 mean값을 구해 revenue_mean 에 넣고 출력하시오

In [2]:
movies_df = pd.read_csv("IMDB-Movie-Data.csv", index_col="Title")
print("2.")
print("revenue column의 Missing Data 갯수 : ", movies_df['Revenue (Millions)'].isnull().sum())
print()
print("3.")
revenue = movies_df['Revenue (Millions)']
revenue_mean = revenue.mean()
revenue_mean

2.
revenue column의 Missing Data 갯수 :  128

3.

82.95637614678898

## [학점취득용과제2]
### 아래 단계가 실행되도록 코딩하시오
4. revenue column을 genre별로 grouping하고 genre별 mean값을 구해 genre_mean에 넣고 출력하시오. genre이름과 mean값만 출력되어야 함.
5. revenue column의 missing data를 genre별 평균값으로 impute 하시오.

In [3]:
print("4.")
df1 = movies_df['Revenue (Millions)'].groupby(movies_df['Genre'])
genre_mean = df1.mean()
print(genre_mean)
print("")
print("5.")
movies_df['Revenue (Millions)'] = df1.transform(lambda a:a.fillna(a.mean()))
print(movies_df['Revenue (Millions)'])

4.
Genre
Action                        131.560000
Action,Adventure              223.740000
Action,Adventure,Biography     16.500000
Action,Adventure,Comedy        95.733571
Action,Adventure,Crime         90.620000
                                 ...
Romance,Sci-Fi,Thriller        62.450000
Sci-Fi                         20.760000
Sci-Fi,Thriller                64.510000
Thriller                        0.320000
Thriller,War                         NaN
Name: Revenue (Millions), Length: 207, dtype: float64

5.
Title
Guardians of the Galaxy    333.130000
Prometheus                 126.460000
Split                      138.120000
Sing                       270.320000
Suicide Squad              325.020000
                              ...
Secret in Their Eyes        38.923333
Hostel: Part II             17.540000
Step Up 2: The Streets      58.010000
Search Party                58.880000
Nine Lives                  19.640000
Name: Revenue (Millions), Length: 1000, dtype: float64

## [학점취득용과제3]
### 아래 단계가 실행되도록 코딩하시오
6. genre에 따라서 1개의 행만 있고 그 행의 revenue 값이 NaN인 genre가 여러 개 있습니다.이런 genre의 revenue 평균값은 그대로 NaN이 되고 impute 해봐야 NaN 자리에 NaN이 들어가게 되어 그대로 NaN으로 남습니다.  revenue column에서 impute 후에도 아직도 NaN인 data의 갯수를 출력하시오.
7. 6단계후에 남은 NaN 모두를 3단계에서 구한 revenue_mean으로 채우고 revenue column에서 NaN인 data의 갯수를 출력하시오. 0개가 출력되어 더 이상 NaN이 없는 것으로 나와야 맞습니다.

In [107]:
print("6.")
print(np.isnan(movies_df['Revenue (Millions)']).sum())
print("")
print("7.")
movies_df['Revenue (Millions)'].fillna(revenue_mean, inplace=True)
print(np.isnan(movies_df['Revenue (Millions)']).sum())

6.
12

7.
0